/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #2280d7;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Form Container */
.form-container {
    background: white;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2280d7;
}

/* Form Groups */
.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form-group input:focus {
    outline: none;
    border-color: #2280d7;
    box-shadow: 0 0 5px rgba(211, 47, 47, 0.3);
}

/* Button */
.btn {
    width: 100%;
    padding: 0.8rem;
    background-color: #2280d7;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: tomato;
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-danger {
    background-color: #2280d7;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #8B0000;
}

.center-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Tambahkan jarak dari tombol atas */
}

/* Gaya untuk tombol Keluar */
.keluar-btn {
    padding: 0.8rem 1.5rem;
    background-color: #2280d7;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.keluar-btn:hover {
    background-color: tomato; /* Warna merah lebih gelap saat hover */
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Activity Details */
.activity-details {
    background: #fef6f6;
    border: 1px solid #e5baba;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.activity-details h3 {
    margin-bottom: 1rem;
    color: #2280d7;
}

.activity-details p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/* Footer */
footer {
    text-align: center;
    background-color: #2280d7;
    color: white;
    padding: 1rem 0;
    font-size: 0.9rem;
    margin-top: auto;
}
