body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em 0;
}

main {
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input, textarea, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
}

.action-buttons {
    display: flex;
    gap: 10px;
}
